@page "/QAManagement"
@using Microsoft.Extensions.Localization
@using global::QAManagement.Localization
@inject IStringLocalizer<QAManagementResource> L
@{
}
<h1>QAManagement</h1>
<p>@L["SamplePageMessage"]</p>