@page
@using Microsoft.Extensions.Localization
@using QAManagement.Localization
@model QAManagement.Web.Pages.QAManagement.IndexModel
@inject IStringLocalizer<QAManagementResource> L
@{
}
<h1>QAManagement</h1>
<p>@L["SamplePageMessage"]</p>
